body{
    margin: 0;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    color: darkgray;
    
}
h2{
    margin: 8px;
    font-family: 'Handlee', cursive;
    font-size: 50px;
    color:purple; 
}
p{
    color: black;
    font-weight: bold;
}
a{
    color:#065658;
    font-family: 'Handlee', cursive;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
hr{

    border: dotted grey 6px;
    border-bottom: none;
    width: 5%;
   /* border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    */
}
.top{
    background-color: peachpuff;
    position: relative;

}
.bottom{
   
    background-color: #66bfbf;
    padding: 50px 0 20px;

}
.my-img{
    width: 22%;
    padding-top: 9px;
}
